export( "alterInclProbs",
"modEsti",
"quasiSamp",
"quasiSamp.raster",
"transectSamp",
"findDescendingTrans",
"findTransFromPoint",
"alterInclProbs.cluster",
"quasiSamp.cluster")
importFrom( "mgcv", "gam", "predict.gam", "in.out")
importFrom( "geometry", "convhulln", "polyarea")
importFrom( "randtoolbox", "halton")
importFrom( "mvtnorm", "rmvnorm")
importFrom( "stats", "pnorm", "uniroot", "update", "coef", "quantile", "median", "rexp", "sd", "gaussian", "dist")
importFrom( "class", "knn1")
importFrom( "raster", "raster", "values", "extract", "coordinates", "getValuesFocal", "cellFromRow", "rasterFromXYZ", "plot", "focalWeight", "nrow", "stack", "projection", "xyFromCell", "proj4string", "extent")
importFrom( "parallel", "makeCluster", "clusterExport", "parLapply", "stopCluster", "clusterEvalQ", "detectCores", "parSapply")
importFrom( "sp", "SpatialPointsDataFrame", "CRS")
importFrom( "grDevices", "grey")
importFrom( "graphics", "par", "points", "mtext")
